@import "_variables";
@import "_mixins";

.contact-content {
  text-align: center;
  font-style: normal;
}

.contact-email {
  font-size: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 20rem;
  font-style: normal;
  font-weight: bold;
  color: $mainblue;
}
