@import "_variables";
@import "_mixins";

////////////////////////
.tag {
  padding-top: 1rem;
  padding-bottom: 25rem;
  font-size: 25rem;
  text-align: center;
  /////////////////ANIMATION
  opacity: 0;
  transform: translate(0, 5rem);
  transition: all 4s;
}
.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.one {
  //background-color: yellow;
}
///////////////////////////

.intro {
  @include flex-col-center;
  font: $fontv2;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding-bottom: 10rem;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about,
.about2,
.download,
.download-button {
  font: fontv2;
  font-size: 10rem;
  //font-weight: bold;
  margin-top: 9rem;
  padding-top: 12.5rem;
  text-align: center;
}

.about {
  //text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    $mainblue 0%,
    $red 33%,
    $green 55%,
    $mainblue 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 10rem;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.about2 {
  padding-top: 3rem;
  font-size: 3.5rem;
  margin-top: 2rem;
  //padding-left: 15rem;
  //padding-right: 15rem;
  width: 75%;
  line-height: 4.5rem;
}

@media screen and (max-width: $monitor-min) {
  .about {
    font-size: 8rem;
  }
  .about2 {
    font-size: 3rem;
    //line-height: 3.5rem;
  }
}

.download {
  padding-top: 3rem;
  font-size: 5rem;
  margin-top: 6rem;
}
.download-button {
  background-color: $mainblue;
  //color: white;
  color: white;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: lighter;
  border: $mainblue 0.2rem solid;
  border-radius: 2rem;
  transition: all 0.2s ease;
}
.download-button:hover {
  //transform: scale(1.025);
  //transform: translateY(-0.25rem);
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  color: $mainblue;
}
.download-button:active {
  transition: all 0.2s ease;
  //transform: scale(0.8);
  transform: translateY(1rem);
}
.download-button:focus {
  //color: white;
}

.illustrated {
  padding-top: 10rem;
  @include flex-col-center;
  font-size: 10rem;
  //////////
  opacity: 0;
  transform: translate(0, 0);
  transition: all 2s;
}
.illustrated.visible {
  opacity: 1;
  transform: translate(0, -10rem);
}

.illustrated-title {
  padding-bottom: 2rem;
}
.illustrated-info {
  text-align: center;
  line-height: 4.5rem;
  //padding: 3rem 25rem 3rem 25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  width: 75%;
}
.illustrated-img {
  //border: 1rem black solid;
}

@media screen and (max-width: $monitor-min) {
  .illustrated-info {
    //font-size: 2rem;
    //line-height: 3.5rem;
    width: 85%;
  }
}

.video-section {
  padding-top: 4rem;
  text-align: center;
  opacity: 0;
  transform: translate(0, 0);
  transition: all 2s;
}
.video-section.visible {
  opacity: 1;
  transform: translate(0, -10rem);
}
.video-button {
  font-size: 3.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  //border: 0.25rem white solid;
  //border-radius: 1rem;
  transition: all 0.2s;
}

a {
  transition: all 1s ease;
  position: relative;
}
.video-button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  //background-color: $red;
  background-color: $mainblue;
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.video-button:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.video-button:hover {
  //color: $mainblue;
}

.case-study {
  @include flex-col-center;
  padding-top: 1rem;
  opacity: 0;
  transform: translate(0, 0);
  transition: all 2s;
}
.case-study.visible {
  opacity: 1;
  transform: translate(0, -10rem);
}

.case-study-title {
  font-size: 8.5rem;
}
.case-study-description {
  font-size: 3.5rem;
  color: gray;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.case-study-info {
  @include flex-row-center;
  padding-bottom: 1rem;
}

.case-study-info-image {
  padding-left: 5rem;
  padding-right: 2rem;
  size: 75%;
}
.case-study-paragraphs {
  font-size: 3rem;
  padding: 3rem;
}
.case-study-paragraphs p {
  line-height: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.case-study-button {
  font-size: 3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  //border: 0.25rem white solid;
  //border-radius: 1rem;
  transition: all 0.2s;
}
.case-study-button:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $mainblue;
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.case-study-button:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}
