@import "_variables";
@import "_mixins";

header {
    @include flex-row-center;
    justify-content: space-between;
    height: auto;
    border-bottom: red 0.1rem solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.logo {

}