@import "_variables";
@import "_mixins";

.team-teamsection {
  @include flex-col-center;
  padding-top: 17rem;
  padding-bottom: 4rem;
}
.team-teamsection h {
  font-size: 8rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}

@media screen and (max-width: $phone-min) {
  .team-teamsection {
    padding-top: 12rem;
    padding-bottom: 0rem;
  }
  .team-teamsection h {
    text-align: center;
    font-size: 5rem;
  }
}

.team-content {
  @include flex-row-center;
}
@media screen and (max-width: $phone-min) {
  .team-content {
    @include flex-col-center;
  }
}

.portrait {
  width: 40rem;
  border-radius: 2rem;
  margin-left: 8rem;
  margin-right: 4rem;
}
@media screen and (max-width: $phone-min) {
  .portrait {
    width: 18rem;
    border-radius: 4rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.team-personalinfo {
  @include flex-col-center;
  font-size: 3rem;
  text-align: center;
  margin-right: 8rem;
  //font-weight: lighter;
}

.team-contentleft {
  @include flex-col-center;
  text-align: center;
}
.team-personalinfo h1 {
  font-size: 6rem;
  padding-top: 2rem;
  font-weight: lighter;
}
.team-personalinfo h2 {
  font-size: 3rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  color: $mainblue;
}

.team-personalinfo h3,
h5 {
  font-size: 2.5rem;
  //font-weight: lighter;
  padding: 0.5rem;
  padding-top: 3rem;
}
.team-personalinfo h4,
h6,
h7 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 0.5rem;
  color: gray;
}

@media screen and (max-width: $phone-min) {
  .team-personalinfo {
    margin-right: 0rem;
  }
}

.team-social-tags {
  @include flex-row-center;
  padding-top: 4rem;
}
@media screen and (max-width: $phone-min) {
  .team-social-tags {
    padding-top: 2rem;
  }
}
.small-social-tags {
  margin-left: 1rem;
  margin-right: 1rem;
}
.small-email-button {
  background-color: $mainblue;
  border-radius: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  scale: 88%;
  transition: all 0.1s ease-in-out;
}
.small-email-button:hover {
  transform: scale(1.05);
}
.small-linkedin-button {
  transition: all 0.1s ease-in-out;
}
.small-linkedin-button:hover {
  transform: scale(1.05);
}
