@import "_variables";
@import "_mixins";

.team-teamsection {
  @include flex-col-center;
  padding-top: 17rem;
  padding-bottom: 4rem;
}
.team-teamsection h {
  font-size: 7rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}

.team-content {
  @include flex-row-center;
}

.portrait {
  width: 40rem;
  border-radius: 2rem;
  margin-left: 8rem;
  margin-right: 4rem;
}
.team-personalinfo {
  @include flex-col-center;
  font-size: 3rem;
  text-align: center;
  margin-right: 8rem;
  //font-weight: lighter;
}
.team-contentleft {
  @include flex-col-center;
  text-align: center;
}
.team-personalinfo h1 {
  font-size: 6rem;
  padding-top: 2rem;
  font-weight: lighter;
}
.team-personalinfo h2 {
  font-size: 3rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  color: $mainblue;
}

.team-personalinfo h3,
h5 {
  font-size: 2.5rem;
  //font-weight: lighter;
  padding: 0.5rem;
  padding-top: 3rem;
}
.team-personalinfo h4,
h6,
h7 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 0.5rem;
  color: gray;
}

.team-social-tags {
  @include flex-row-center;
  padding-top: 4rem;
}
.small-social-tags {
  margin-left: 1rem;
  margin-right: 1rem;
}
.small-email-button {
  background-color: $mainblue;
  border-radius: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  scale: 88%;
}
