@import "_variables";
@import "_mixins";

.vid-videosection {
  @include flex-col-center;
  padding-top: 15rem;
}
.vid-videosection h1 {
  font-size: 8rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}
.actual-video {
  //ratio of 1.77777
  width: 800;
  height: 450;
  margin-bottom: 4rem;
}
@media screen and (max-width: $phone-min) {
  .vid-videosection {
    padding-top: 12rem;
    padding-bottom: 15rem;
  }
  .vid-videosection h1 {
    font-size: 5rem;
    text-align: center;
  }
  .actual-video {
    width: auto;
    height: auto;
  }
}
