header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.24)), color-stop(rgba(255, 255, 255, 0.705)), to(white));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.705), white);
  z-index: 1;
  padding-bottom: 10rem;
}

@media screen and (max-width: 420px) {
  header {
    background-image: none;
    background-color: white;
    padding-bottom: 0rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.logo img {
  width: 24rem;
  height: 8rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 420px) {
  .logo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .logo img {
    width: 18rem;
    height: 6rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0rem;
  padding-right: 3rem;
  list-style-type: none;
}

.navbar a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

a {
  font-family: "Questrial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar a::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #3366ff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

a:focus {
  outline: none;
}

a:active {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

.tag {
  padding-top: 1rem;
  padding-bottom: 25rem;
  font-size: 25rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
  -webkit-transition: all 4s;
  transition: all 4s;
}

.tag.visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: "Questrial", sans-serif;
  -webkit-animation: fadeInAnimation ease 3s;
          animation: fadeInAnimation ease 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding-bottom: 10rem;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about,
.about2,
.download,
.download-button {
  font: fontv2;
  font-size: 10rem;
  margin-top: 9rem;
  padding-top: 12.5rem;
  text-align: center;
}

.about {
  background-image: linear-gradient(-225deg, #3366ff 0%, #ec1e24 33%, #8bc540 55%, #3366ff 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 4s linear infinite;
          animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 10rem;
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about2 {
  padding-top: 3rem;
  font-size: 3.5rem;
  margin-top: 2rem;
  width: 75%;
  line-height: 4.5rem;
}

@media screen and (max-width: 1750px) {
  .about {
    font-size: 8rem;
  }
  .about2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 420px) {
  .about {
    padding-top: 2rem;
    font-size: 5rem;
  }
  .about2 {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-top: 0rem;
  }
}

.download {
  padding-top: 3rem;
  font-size: 5rem;
  margin-top: 6rem;
}

@media screen and (max-width: 420px) {
  .download {
    margin-top: 0rem;
    font-size: 3.5rem;
  }
}

.download-button {
  background-color: #3366ff;
  color: white;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: lighter;
  border: #3366ff 0.2rem solid;
  border-radius: 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.download-button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  color: #3366ff;
}

.download-button:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.illustrated {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10rem;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media screen and (max-width: 420px) {
  .illustrated {
    font-size: 6rem;
    text-align: center;
  }
  .illustrated-img {
    width: 35rem;
  }
}

.illustrated.visible {
  opacity: 1;
  -webkit-transform: translate(0, -10rem);
          transform: translate(0, -10rem);
}

.illustrated-title {
  padding-bottom: 2rem;
}

.illustrated-info {
  text-align: center;
  line-height: 4.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  width: 75%;
}

@media screen and (max-width: 1750px) {
  .illustrated-info {
    width: 85%;
  }
}

@media screen and (max-width: 420px) {
  .illustrated-info {
    line-height: 3.5rem;
  }
  .illustrated-title {
    font-size: 5rem;
  }
}

.video-section {
  padding-top: 4rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.video-section.visible {
  opacity: 1;
  -webkit-transform: translate(0, -10rem);
          transform: translate(0, -10rem);
}

.video-button {
  font-size: 3.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 420px) {
  .video-button {
    display: none;
  }
}

a {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.video-button:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3366ff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.video-button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.case-study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.case-study.visible {
  opacity: 1;
  -webkit-transform: translate(0, -10rem);
          transform: translate(0, -10rem);
}

.case-study-title {
  font-size: 8.5rem;
}

.case-study-description {
  font-size: 3.5rem;
  color: gray;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.case-study-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.case-study-info-image {
  padding-left: 5rem;
  padding-right: 2rem;
  height: 45rem;
}

.case-study-paragraphs {
  font-size: 3.5rem;
  padding: 3rem;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.case-study-paragraphs p {
  line-height: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.case-study-button {
  margin-top: 2rem;
  font-size: 3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 1750px) {
  .case-study-info-image {
    height: 32rem;
  }
  .case-study-button {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 420px) {
  .video-section {
    padding-top: 2rem;
  }
  .case-study-button {
    display: none;
  }
  .case-study {
    padding-top: 2rem;
  }
  .case-study-title {
    font-size: 5rem;
    text-align: center;
  }
  .case-study-description {
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .case-study-info-image {
    display: none;
  }
}

.case-study-button:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3366ff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.case-study-button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.facts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 24rem;
}

.facts-header {
  font-size: 7rem;
  padding: 0rem 8rem 4rem 8rem;
}

.facts-js {
  margin: auto;
  color: #3366ff;
  font-size: 8rem;
  font-weight: lighter;
}

@media screen and (max-width: 420px) {
  .facts-header {
    font-size: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
  .facts-js {
    font-size: 3.5rem;
    -webkit-transform: translate(0rem, -6rem);
            transform: translate(0rem, -6rem);
  }
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.thankyou {
  font-size: 3rem;
  padding: 3rem 10rem 3rem 10rem;
  line-height: 4rem;
}

@media screen and (max-width: 420px) {
  .thankyou {
    font-size: 2.5rem;
    padding-top: 6rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.contact-icon {
  margin-right: 1.25rem;
  height: 3rem;
}

.contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3366ff;
  color: white;
  padding: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: lighter;
  border: #3366ff 0.2rem solid;
  border-radius: 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-button img {
  border: #3366ff 2px solid;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.contact-button:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  color: #3366ff;
}

.contact-button:hover img {
  background-color: #3366ff;
  border-radius: 0.5rem;
}

.contact-button:active {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.contact-button:focus {
  color: white;
}

.footer-navbar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  list-style: none;
}

.footer-navbar-section a {
  font-size: 1.85rem;
  font-weight: lighter;
  padding: 2rem 2rem 0rem 2rem;
  color: black;
}

.specialstyle {
  display: none;
}

@media screen and (max-width: 420px) {
  .otherstyle {
    display: none;
  }
  .footer-navbar-section {
    padding-bottom: 2rem;
  }
  .footer-navbar-section a {
    font-size: 2.5rem;
    color: gray;
  }
  .specialstyle {
    display: none;
  }
}

.footer-navbar-section a::after {
  content: " ";
  display: block;
  width: 0;
  height: 1px;
  background: #3366ff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.footer-navbar-section .homestyle {
  color: #ec1e24;
}

.footer-navbar-section .homestyle::after {
  background: #ec1e24;
}

.footer-navbar-section a:hover::after {
  width: 100%;
}

.copyright {
  font-size: 2rem;
  font-weight: bold;
  color: #9c9b9b;
  padding-bottom: 3rem;
}

.dwnld-downloadsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20rem;
  padding-bottom: 12rem;
}

.dwnld-downloadsection h1 {
  font-size: 8rem;
  font-weight: lighter;
}

@media screen and (max-width: 420px) {
  .dwnld-downloadsection {
    padding-top: 12rem;
    padding-bottom: 3rem;
  }
  .dwnld-downloadsection h1 {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.dwnld-downloadoptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dwnld-downloadoptions a {
  font-size: 3.5rem;
  width: 45rem;
  height: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 5rem;
  text-align: center;
}

.dwnld-optionboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2rem white solid;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.dwnld-optionboxes div {
  color: #4b4b4b;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}

.dwnld-optionboxes img {
  height: 6rem;
}

@media screen and (max-width: 420px) {
  .dwnld-downloadoptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dwnld-downloadoptions a {
    width: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    text-align: center;
  }
  .dwnld-optionboxes div {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .dwnld-optionboxes img {
    height: 4rem;
  }
}

.dwnld-optionboxes:hover {
  border-radius: 1.5rem;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.dwnld-microsoft:hover {
  border-color: #00a6ef;
}

.dwnld-ppt:hover {
  border-color: #d14424;
}

.dwnld-optionboxes::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

@media screen and (max-width: 420px) {
  .dwnld-microsoft {
    border-color: #00a6ef;
  }
  .dwnld-ppt {
    border-color: #d14424;
  }
}

.vid-videosection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15rem;
}

.vid-videosection h1 {
  font-size: 8rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}

.actual-video {
  width: 800;
  height: 450;
  margin-bottom: 4rem;
}

@media screen and (max-width: 420px) {
  .vid-videosection {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .vid-videosection h1 {
    font-size: 5rem;
    text-align: center;
  }
  .actual-video {
    width: auto;
    height: auto;
  }
}

.team-teamsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17rem;
  padding-bottom: 4rem;
}

.team-teamsection h {
  font-size: 8rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}

@media screen and (max-width: 420px) {
  .team-teamsection {
    padding-top: 12rem;
    padding-bottom: 0rem;
  }
  .team-teamsection h {
    text-align: center;
    font-size: 5rem;
  }
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 420px) {
  .team-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portrait {
  width: 40rem;
  border-radius: 2rem;
  margin-left: 8rem;
  margin-right: 4rem;
}

@media screen and (max-width: 420px) {
  .portrait {
    width: 18rem;
    border-radius: 4rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.team-personalinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  text-align: center;
  margin-right: 8rem;
}

.team-contentleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team-personalinfo h1 {
  font-size: 6rem;
  padding-top: 2rem;
  font-weight: lighter;
}

.team-personalinfo h2 {
  font-size: 3rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  color: #3366ff;
}

.team-personalinfo h3,
h5 {
  font-size: 2.5rem;
  padding: 0.5rem;
  padding-top: 3rem;
}

.team-personalinfo h4,
h6,
h7 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 0.5rem;
  color: gray;
}

@media screen and (max-width: 420px) {
  .team-personalinfo {
    margin-right: 0rem;
  }
}

.team-social-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

@media screen and (max-width: 420px) {
  .team-social-tags {
    padding-top: 2rem;
  }
}

.small-social-tags {
  margin-left: 1rem;
  margin-right: 1rem;
}

.small-email-button {
  background-color: #3366ff;
  border-radius: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  scale: 88%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.small-email-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.small-linkedin-button {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.small-linkedin-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.priv-policysection {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20rem;
  padding-left: 13rem;
  padding-right: 13rem;
  padding-bottom: 8rem;
}

.priv-policysection .contact-button {
  margin-top: 10rem;
}

.priv-title {
  padding-bottom: 4rem;
  font-size: 8rem;
}

.priv-policycontent {
  font-size: 3rem;
  line-height: 3.75rem;
  font-style: italic;
}

@media screen and (max-width: 420px) {
  .priv-policysection {
    padding-top: 12rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .priv-policysection .contact-button {
    margin-top: 2rem;
  }
  .priv-title {
    font-size: 5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  .priv-policycontent {
    font-size: 2.15rem;
    line-height: 3.25rem;
  }
}

.feat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8rem;
  padding-top: 15rem;
}

.feat-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feat-intro-title {
  font-size: 8rem;
  padding-bottom: 5rem;
}

.feat-intro p {
  font-size: 2.75rem;
  text-align: center;
  padding-left: 25rem;
  padding-right: 25rem;
  color: gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: italic;
}

.feat-intro-end {
  padding-top: 1rem;
  padding-bottom: 8rem;
  font-weight: bold;
  color: #5f5f5f;
}

@media screen and (max-width: 420px) {
  .feat-content {
    padding-top: 12rem;
  }
  .feat-intro-title {
    font-size: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .feat-intro p {
    font-size: 2.25rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .feat-intro-end {
    font-size: 2.5rem;
    text-align: center;
  }
}

.feat-enter {
  font-size: 10rem;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 2s;
  transition: all 2s;
  padding-bottom: 10rem;
  color: #3366ff;
}

.feat-enter.visible {
  opacity: 1;
}

@media screen and (max-width: 420px) {
  .feat-enter {
    font-size: 6rem;
    text-align: center;
  }
}

.feat-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 6s;
  transition: all 6s;
}

.feat-highlights h {
  font-size: 5rem;
  padding-bottom: 1.5rem;
}

.feat-highlights p {
  font-size: 3rem;
}

.feat-highlights h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 0.75rem;
}

.feat-highlights li {
  font-size: 2rem;
}

.feat-highlights.visible {
  opacity: 1;
}

.feat-highlights-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.feat-highlights-1-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20rem;
  padding-right: 20rem;
}

.feat-highlights-1-left p {
  text-align: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 420px) {
  .feat-highlights {
    width: 90%;
    text-align: center;
  }
  .feat-highlights-1-left {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .feat-highlights p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .feat-highlights h3 {
    font-size: 2.35rem;
    color: #3366ff;
  }
}

.feat-highlights-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
  padding-top: 6rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.feat-highlights-2 img {
  width: 40rem;
}

.feat-highlights-2-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-right: 5rem;
}

.feat-highlights-2-left h {
  color: #3366ff;
}

.feat-highlights-2-left p {
  padding-bottom: 1.5rem;
}

.feat-highlights-2-left h2 {
  font-size: 3rem;
  font-weight: lighter;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feat-highlights-2-left li {
  font-size: 2.25rem;
  padding: 0.5rem;
  color: gray;
}

@media screen and (max-width: 420px) {
  .feat-highlights-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .feat-highlights-2-right {
    display: none;
  }
  .feat-highlights-2-left {
    text-align: center;
    padding-right: 0rem;
  }
  .feat-highlights-2-left li {
    list-style: none;
    color: #3366ff;
  }
}

.feat-what,
.feat-competition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 12rem;
}

.feat-what h1,
.feat-competition h1 {
  font-weight: lighter;
  font-size: 7rem;
  text-align: center;
  padding-bottom: 4rem;
}

.feat-what h2,
.feat-competition h2 {
  font-weight: lighter;
  text-align: center;
  padding-bottom: 4rem;
  line-height: 4rem;
}

@media screen and (max-width: 420px) {
  .feat-what,
  .feat-competition {
    width: 90%;
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .feat-competition {
    padding-top: 3rem;
  }
  .feat-what h1,
  .feat-competition h1 {
    font-size: 4rem;
  }
  .feat-what h2,
  .feat-competition h2 {
    font-size: 2.5rem;
  }
  .feat-what img,
  .feat-competition img {
    display: none;
  }
}

.feat-features {
  padding-top: 10rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feat-features h {
  font-size: 8rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 420px) {
  .feat-features {
    padding: 2rem;
    text-align: center;
  }
  .feat-features h {
    font-size: 5rem;
  }
}

.feat-features-bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*.feat-hidden {
    display: none;
  }*/
}

.feat-features-bubbles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #3366ff 0.75rem double;
  border-radius: 1000rem;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  background-color: white;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.feat-features-bubbles div:hover {
  background-color: #3366ff;
  border: white 0.75rem double;
}

.feat-features-bubbles div:hover h1 {
  display: none;
}

.feat-features-bubbles div:hover p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.feat-features-bubbles h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: #3366ff;
}

.feat-features-bubbles p {
  display: none;
  font-size: 2.25rem;
  font-weight: lighter;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 420px) {
  .feat-features-bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feat-features-bubbles div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    width: 90%;
    height: 90%;
    margin: 0rem;
    background-color: white;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .feat-features-bubbles p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
}

.feat-contactbuttoninfo {
  font-size: 3.75rem;
}

@media screen and (max-width: 420px) {
  .feat-contactbuttoninfo {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.75rem;
    text-align: center;
  }
}

.contact-content {
  text-align: center;
  font-style: normal;
}

.contact-email {
  font-size: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 20rem;
  font-style: normal;
  font-weight: bold;
  color: #3366ff;
}

@media screen and (max-width: 420px) {
  .contact-email {
    font-size: 3rem;
    font-weight: lighter;
  }
}

html,
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

html {
  font-family: "Questrial", sans-serif;
  min-height: 100%;
}

body {
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*# sourceMappingURL=main.css.map */